@import '../../scss/variables';
@import '../../scss/mixins';

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-bg-topbar);
    width: calc(100% - 4rem);

    &__logo {
        max-height: 4rem;

        @include mq(360px) {
            max-height: 5rem;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}