@font-face {
    font-family: IstokWeb;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/IstokWeb-Regular.woff);
}

@font-face {
    font-family: IstokWeb;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/IstokWeb-Bold.woff);
}