h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 700;
    margin: 1rem 0;
}

h1, .h1 {
    font-size: fs(huge);
}

h2, .h2 {
    font-size: fs(x-big);
}

h3, .h3 {
    font-size: fs(big);
}

h4, .h4 {
    font-size: fs(large);
}

h5, .h5 {
    font-size: fs(large);
}

h6, .h6 {
    font-size: fs(large);
}

p {
    margin: 0;

    & + & {
        margin-top: 1rem;
    }
}

small {
    font-size: fs(small);
}