$color-main-extralight: 254 32% 85%;
$color-main-lighter: 254 32% 75%;
$color-main-light: 254 32% 57%;
$color-main: 254 32% 41%;
$color-main-dark: 254 32% 35%;
$color-main-darken: 254 32% 25%;
$color-main-extradark: 254 32% 15%;

$color-gray-extralight: 0 0% 93%;
$color-gray-lighter: 0 0% 88%;
$color-gray-light: 0 0% 79%;
$color-gray: 0 0% 55%;
$color-gray-dark: 0 0% 35%;
$color-gray-darken: 0 0% 20%;
$color-gray-extradark: 0 0% 10%;

$color-special: 220 10% 36%;
$color-special-30: 220, 10%, 36%, .3;
$color-special-60: 220, 10%, 36%, .6;

$box-shadow-light: 0px 0px 10px 0px hsl($color-gray-lighter);
$box-shadow-dark: 0px 0px 10px 0px hsl($color-gray-darken);

$font-family: 'IstokWeb';

$font_sizes: (
    "small": 1.2,
    "medium": 1.5,
    "large": 2,
    "big": 3,
    "x-big": 4,
    "huge": 5
);

$color-list: (
    'color-main-extralight': $color-main-extralight,
    'color-main-lighter': $color-main-lighter,
    'color-main-light': $color-main-light,
    'color-main': $color-main,
    'color-main-dark': $color-main-dark,
    'color-main-darken': $color-main-darken,
    'color-main-extradark': $color-main-extradark,
    'color-gray-extralight': $color-gray-extralight,
    'color-gray-lighter': $color-gray-lighter,
    'color-gray-light': $color-gray-light,
    'color-gray': $color-gray,
    'color-gray-dark': $color-gray-dark,
    'color-gray-darken': $color-gray-darken,
    'color-gray-extradark': $color-gray-extradark,
    'color-special': $color-special
);