@import 'font-family';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'typography';
@import 'links';

:root {
    --color-main-extralight: hsl(#{$color-main-extralight});
    --color-main-lighter: hsl(#{$color-main-lighter});
    --color-main-light: hsl(#{$color-main-light});
    --color-main: hsl(#{$color-main});
    --color-main-dark: hsl(#{$color-main-dark});
    --color-main-darken: hsl(#{$color-main-darken});
    --color-main-extradark: hsl(#{$color-main-extradark});
    --color-gray-extralight: hsl(#{$color-gray-extralight});
    --color-gray-lighter: hsl(#{$color-gray-lighter});
    --color-gray-light: hsl(#{$color-gray-light});
    --color-gray: hsl(#{$color-gray});
    --color-gray-dark: hsl(#{$color-gray-dark});
    --color-gray-darken: hsl(#{$color-gray-darken});
    --color-gray-extradark: hsl(#{$color-gray-extradark});

    --color-special: hsl(#{$color-special});
    --color-special-60: hsla(#{$color-special-60});
    --color-special-30: hsla(#{$color-special-30});


    /*Implementations*/
}

.light {
    --color-bg-topbar: var(--color-main-lighter);
    --color-bg-footer: var(--color-gray-lighter);
    --color-footer: var(--color-main);
    --color-border: var(--color-main-lighter);
    --color-text: var(--color-main);
    --color-text-dark: var(--color-text);
    --color-bg-tag: var(--color-special-60);
    --color-tag: var(--color-gray-extralight);
    --color-elipsis: var(--color-special-30);
    --color-heart: var(--color-special);
    --color-bg-detail: var(--color-gray-lighter);
    --color-bg: white;
    --box-shadow: #{$box-shadow-light};
    --color-bg-btn: var(--color-main);
    --color-border-btn: var(--color-main-dark);
    --color-btn: var(--color-gray-lighter);
}

.dark {
    --color-bg-topbar: var(--color-main);
    --color-bg-footer: var(--color-gray-darken);
    --color-footer: var(--color-main-extralight);
    --color-border: var(--color-main);
    --color-text: var(--color-gray-extralight);
    --color-text-dark: var(--color-main-extralight);
    --color-bg-tag: var(--color-gray-light);
    --color-tag: var(--color-main-darken);
    --color-elipsis: var(--color-special-60);
    --color-heart: var(--color-text);
    --color-bg-detail: var(--color-gray-darken);
    --color-bg: var(--color-gray-extradark);
    --box-shadow: #{$box-shadow-dark};
    --color-bg-btn: var(--color-main-lighter);
    --color-border-btn: var(--color-main-light);
    --color-btn: var(--color-gray-darken);
}

.grid {
    --display: grid;
    --flex-direction-child: column;
}

.list {
    --display: flex;
    --flex-direction-child: row;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: fs(medium);
}

.myBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.main {
    flex: 1;
    padding: 2rem;
}

.section-display {
    display: var(--display);
    gap: 1rem;
    max-width: 90rem;

    flex-direction: column;

    grid-template-columns: repeat(1, 1fr);

    @include mq(480px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mq(700px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mq(900px) {
        grid-template-columns: repeat(4, 1fr);
        padding-left: calc((100% - 90rem) / 2);
        padding-right: calc((100% - 90rem) / 2);
    }
}

.tag {
    background-color: var(--color-bg-tag);
    color: var(--color-tag);
    font-size: fs(small);
    padding: .5rem 1rem;
    border-radius: .5em;
    display: flex;
    align-items: center;
    text-align: center;

    &List {
        display: flex;
        gap: 1rem;
    }
}